<polymer-element name="ceci-chef-adventure" extends="ceci-element"
  attributes="clear wall red blue green blueswitch greenswitch redswitch wallsprite groundsprite blueblocksprite greenblocksprite redblocksprite playersprite"
  groundsprite="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAhUlEQVRYhe3XwQ2AIAwF0JowL2ENZiCM5ghsgNa7CQG02C96+Oc+4KcJtO4La4Y+A7CB2AYCBrho2EXzOAQHUErKnlP2Ylfe3QE1wNXBvRBcwGjY+wDSg/EB0oupdAA8QOsCkYLgAaSepLW0+IC7ZaxB8AGjMzFgq2R+wCn4/wKt/AB1wAEpUF7eamflHQAAAABJRU5ErkJggg=="
  wallsprite="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAk0lEQVRYhWOom8vzv24uz//de1aQhGH6KNXPMOAOaMhy/t+Q5fx/ydRSkjDMIEr1jzpg5Dlg9+5lEDxiHTDgUTDqAKIdUJ/l9L8+y2kEOABWKcAMIhajV0bk6h88DhhtD5CaiA4dXPP/0ME1BBMhrOjFpX/4O4CQ/uHnAEIF2PB3wIBHwagDRh1AsgMGTXU8UA4AANEaiS8F8jfjAAAAAElFTkSuQmCC"
  redblocksprite="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAiUlEQVRYhWM40SPwfyAxw4A7INeK6f9A4MHnAJjAgiBmmuKh4wBqJ7ah5wBq4W21LP+31bIMQQfAxHEZSAgPHwfUOEHwqANwRQk6Rjdn1AGjDhh+DiCEqV4UDxoHEAp6XHjoOOBQK8v/Q62YCsnFQ9cBsCCnFkaPksHvAGo3RgnhweMAeuNB4wAA8HXyXulpvwIAAAAASUVORK5CYII="
  blueblocksprite="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAeUlEQVRYhWNY3PLo/0BihgF3gKdNzX9Pm5r/bVnnaIJhFuESH7oOgOkjV//QdQCuICXXnFEHDD0HoBuAy0FDzwG0LpBGHTD4HUAvi0cdMHQdQK3ESnaTbMAcgF7UjlwHkFvpUJwIB9wBtMLD1wHEmjf4HDBQeMAdAACZk61XAUosyAAAAABJRU5ErkJggg=="
  greenblocksprite="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAbElEQVRYhWPwmV3632d26f+JV6cPCGYYcAcYlAT9NygJ+g9zCL3wqAOGvgNgBgx/B8DkycVD3wHkFjDDzwHEJtZRB4w6YNQBw98BhPDwdQAujEvd8HEArfCoA4aOA4htYg19B9Abwxwy4A4AAEMumjQBe3MiAAAAAElFTkSuQmCC" playersprite="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAoUlEQVRYhe3TsQ2AIBBAUXawI1ZOYMIYVi7jLI7gGtc7BCGhtGGBs6LwkGAMipgrfgOX4zUI5xyWTDCAAcUBWmvMGQAcSs2XB1hrMWcUkJpnQD0Auvhq9QG2dXm0egAwTwjzFCxoZYOtbII5eh7bw4B6AFeLQV/7BdkBxphD46BO8w/76L3qO1R9F+zzfRdAITFAKgb8B+AX3Y0BsYc/A9gBIK4UDHNyGoUAAAAASUVORK5CYII=">
  <ceci-definition>
    {
      "name": "Chef Adventure",
      "thumbnail": "./thumbnail.png",
      "description": "",
      "attributes": {
        "playersprite": {
          "description": "",
          "label": "Player Sprite",
          "editable": "sprite",
          "scale": 2
        },
        "groundsprite": {
          "description": "",
          "label": "Ground Sprite",
          "editable": "sprite",
          "scale": 2
        },
        "wallsprite": {
          "description": "",
          "label": "Wall Sprite",
          "editable": "sprite",
          "scale": 2
        },
        "blueblocksprite": {
          "description": "",
          "label": "Blue Block Sprite",
          "editable": "sprite",
          "scale": 2
        },
        "greenblocksprite": {
          "description": "",
          "label": "Green Block Sprite",
          "editable": "sprite",
          "scale": 2
        },
        "redblocksprite": {
          "description": "",
          "label": "Red Block Sprite",
          "editable": "sprite",
          "scale": 2
        }
      },
      "broadcasts": {
        "switched": {
          "label": "",
          "description": ""
        },
        "exitleft": {
          "description": "",
          "label": ""
        },
        "exitright": {
          "description": "",
          "label": ""
        },
        "exittop": {
          "description": "",
          "label": ""
        },
        "exitbottom": {
          "description": "",
          "label": ""
        }
      },
      "listeners": {
        "switched": {
          "description": "",
          "label": ""
        },
        "buttonpress": {
          "description": "",
          "label": ""
        },
        "buttonrelease": {
          "description": "",
          "label": ""
        },
        "enterleft": {
          "description": "",
          "label": ""
        },
        "enterright": {
          "description": "",
          "label": ""
        },
        "entertop": {
          "description": "",
          "label": ""
        },
        "enterbottom": {
          "description": "",
          "label": ""
        }
      }
    }
  </ceci-definition>
  <template>
    <link rel="stylesheet" href="component.css"></link>
    <div class="tile-palette-container">
      <div class="tile-palette">
        <div class="palette-blocks">
          <span class="palette-block palette-clear-block palette-selected" data-palette="clear" on-click="{{onTileClicked}}" style="{{clear}}"></span>
          <span class="palette-block palette-wall-block" data-palette="wall" on-click="{{onTileClicked}}" style="{{wall}}"></span>
          <!--<canvas class="palette-tile-preview" width="32" height="32"></canvas>-->
          <span class="palette-block palette-wall-block palette-blue-block" data-palette="blue" on-click="{{onTileClicked}}" style="{{blue}}"></span>
          <span class="palette-block palette-wall-block palette-green-block" data-palette="green" on-click="{{onTileClicked}}" style="{{green}}"></span>
          <span class="palette-block palette-wall-block palette-red-block" data-palette="red" on-click="{{onTileClicked}}" style="{{red}}"></span>
          <span class="palette-block palette-blueswitch" data-palette="blueswitch" on-click="{{onTileClicked}}" style="{{blueswitch}}"></span>
          <span class="palette-block palette-greenswitch" data-palette="greenswitch" on-click="{{onTileClicked}}" style="{{greenswitch}}"></span>
          <span class="palette-block palette-redswitch" data-palette="redswitch" on-click="{{onTileClicked}}" style="{{redswitch}}"></span>
        </div>
        <!--<div class="palette-blocks">
          <input type="color" class="tile-editor-colour-picker" on-change="{{onColourPickerChange}}">
          <span class="palette-button palette-done-block" on-click="{{onDoneClicked}}"></span>
          <span class="palette-button palette-paint-block" on-click="{{onPaintClicked}}"></span>
          <span class="palette-button palette-fill-block" on-click="{{onFillClicked}}"></span>
        </div>-->
      </div>
      <!--<div class="tile-editor-container">
        <div class="tile-editor-canvas"></div>
      </div>-->
    </div>
    <shadow></shadow>
  </template>
  <tags>game</tags>
    <script>
      Polymer("ceci-chef-adventure", {
        ready: function() {
          this.super();
          this.rows = 9;
          this.cols = 9;
          this.generateBoard();
          this.palette = "clear";
          //this.brush = "paint";
          // this string needs to be in rgb(n, n, n) format, it's easier to work with
          //this.selectedColor = "rgb(0, 0 ,0)";

          //this.canvas = this.shadowRoot.querySelector(".palette-tile-preview");
          //this.ctx = this.canvas.getContext("2d");
          //this.fillTilePreview(this.shadowRoot.querySelector(".palette-clear-block"));
        },
        /*onColourPickerChange: function(event, detail, sender) {
          var div = document.createElement("div");
          div.style.backgroundColor = sender.value;
          this.selectedColor = div.style.backgroundColor;
        },*/
        /*onDoneClicked: function() {
          var color = "url('" + this.canvas.toDataURL() + "')";
          var palette = this.shadowRoot.querySelector(".palette-selected");
          this[selected.getAttribute("data-palette")] = "background-image: " + color + ";";
        },*/
        groundspriteChanged: function() {
          var color = "url('" + this.groundsprite + "')";
          var palette = this.shadowRoot.querySelector(".palette-clear-block");
          this[palette.getAttribute("data-palette")] = "background-image: " + color + ";";
        },
        playerspriteChanged: function() {
          var player = this.querySelector(".player");
          if (!player) {
            return;
          }
          player.style.backgroundImage = "url('" + this.playersprite + "')";
        },
        wallspriteChanged: function() {
          var color = "url('" + this.wallsprite + "')";
          var palette = this.shadowRoot.querySelector(".palette-wall-block");
          this[palette.getAttribute("data-palette")] = "background-image: " + color + ";";
        },
        blueblockspriteChanged: function() {
          var color = "url('" + this.blueblocksprite + "')";
          var palette = this.shadowRoot.querySelector(".palette-blue-block");
          this[palette.getAttribute("data-palette")] = "background-image: " + color + ";";
        },
        greenblockspriteChanged: function() {
          var color = "url('" + this.greenblocksprite + "')";
          var palette = this.shadowRoot.querySelector(".palette-green-block");
          this[palette.getAttribute("data-palette")] = "background-image: " + color + ";";
        },
        redblockspriteChanged: function() {
          var color = "url('" + this.redblocksprite + "')";
          var palette = this.shadowRoot.querySelector(".palette-red-block");
          this[palette.getAttribute("data-palette")] = "background-image: " + color + ";";
        },
        /*onPaintClicked: function() {
          this.brush = "paint";
        },
        onFillClicked: function() {
          this.brush = "fill";
        },*/
        onTileClicked: function(event, detail, sender) {
          this.shadowRoot.querySelector(".palette-selected").classList.remove("palette-selected");
          sender.classList.add("palette-selected");
          this.palette = sender.getAttribute("data-palette");
          //this.fillTilePreview(sender);
        },
        /*fillTileEditor: function() {
          var imgd = this.ctx.getImageData(0, 0, this.canvas.width, this.canvas.height);

          for (var x = 0; x < imgd.width; x+=2) {
            var realX = x/2;
            for (var y = 0; y < imgd.height; y+=2) {
              var realY = y/2;
              var i = x*4+y*4*imgd.width;
              var targetRow = this.shadowRoot.querySelector('*[data-tile-editor-row="'+ (realY) + '"]');
              var targetCol = targetRow.querySelector('*[data-tile-editor-col="'+ (realX) + '"]');
              // for now convert transparent to white
              if (imgd.data[i+3] === 0) {
                targetCol.style.backgroundColor = "rgb(255, 255, 255)";
              } else {
                var red = imgd.data[i];
                var green = imgd.data[i+1];
                var blue = imgd.data[i+2];
                targetCol.style.backgroundColor = "rgb("+red+", "+green+", "+blue+")";
              }
            }
          }
        },*/
        /*fillTilePreview: function(sender) {
          var that = this;
          var image = document.createElement("img");
          that.ctx.clearRect(0, 0, that.canvas.width, that.canvas.height);
          image.onload = function() {
            that.ctx.drawImage(image,0,0);
            that.fillTileEditor();
          };
          if (!sender.style.backgroundImage) {
            that.fillTileEditor();
            return;
          }
          image.src = sender.style.backgroundImage.replace("url(\"", "").replace("\")", "");
        },*/
        buttonpress: function(direction) {
          var player = this.querySelector(".player");
          if (!player) {
            return;
          }
          var playerRow = player.offsetTop / 32; //parseInt(player.parentNode.getAttribute("data-row"), 10);
          var playerCol = player.offsetLeft / 32; //parseInt(player.getAttribute("data-col"), 10);
          var targetCol;

          if (direction === "up") {
            if (playerRow === 0) {
              this.broadcast("exittop", playerCol);
              player.parentNode.removeChild(player);
              return;
            }
            playerRow--;
            var targetRow = this.querySelector('*[data-row="'+ playerRow + '"]');
            targetCol = targetRow.querySelector('*[data-col="'+ playerCol + '"]');
          } else if (direction === "down") {
            if (playerRow === 8) {
              this.broadcast("exitbottom", playerCol);
              player.parentNode.removeChild(player);
              return;
            }
            playerRow++;
            var targetRow = this.querySelector('*[data-row="'+ playerRow + '"]');
            targetCol = targetRow.querySelector('*[data-col="'+ playerCol + '"]');
          } else if (direction === "left") {
            if (playerCol === 0) {
              this.broadcast("exitleft", playerRow);
              player.parentNode.removeChild(player);
              return;
            }
            playerCol--;
            var targetRow = this.querySelector('*[data-row="'+ playerRow + '"]');
            targetCol = targetRow.querySelector('*[data-col="'+ playerCol + '"]');
          } else if (direction === "right") {
            if (playerCol === 8) {
              this.broadcast("exitright", playerRow);
              player.parentNode.removeChild(player);
              return;
            }
            playerCol++;
            var targetRow = this.querySelector('*[data-row="'+ playerRow + '"]');
            targetCol = targetRow.querySelector('*[data-col="'+ playerCol + '"]');
          }
          if (targetCol) {
            if (!targetCol.classList.contains("wall") || targetCol.classList.contains("pressed")) {
              player.style.top = (playerRow * 32) + "px";
              player.style.left = (playerCol * 32) + "px";
              //targetCol.classList.add("player");
              if (targetCol.classList.contains("redswitch")) {
                this.broadcast("switched", "red");
                this.switched("red");
              } else if (targetCol.classList.contains("blueswitch")) {
                this.broadcast("switched", "blue");
                this.switched("blue");
              } else if (targetCol.classList.contains("greenswitch")) {
                this.broadcast("switched", "green");
                this.switched("green");
              } else if (targetCol.classList.contains("wall")) {
                return;
              }
            }
          }
        },
        navigateHere: function() {
          var parent = this.parentNode;
          while (parent.nodeName !== "CECI-CARD") {
            parent = parent.parentNode;
          }
          if (parent) {
            parent.show();
          }
        },
        enterleft: function(row) {
          this.enter(row, 0);
          //this.enter(this.querySelector("*[data-row='"+ row + "'] .leftside"));
        },
        enterright: function(row) {
          this.enter(row, 8);
          //this.enter(this.querySelector("*[data-row='"+ row + "'] .rightside"));
        },
        entertop: function(col) {
          this.enter(0, col);
          //this.enter(this.querySelector(".topside [data-col='"+ col + "'] "));
        },
        enterbottom: function(col) {
          this.enter(8, col);
          //this.enter(this.querySelector(".bottomside [data-col='"+ col + "'] "));
        },
        enter: function(row, col) {
          var that = this;
          setTimeout( function() {
            var player = that.querySelector(".player");
            if (!player) {
              player = document.createElement("div");
              player.classList.add("player");
              that.querySelector(".board").appendChild(player);
            }
            player.style.backgroundImage = "url('" + that.playersprite + "')";
            player.style.top = (row * 32) + "px";
            player.style.left = (col * 32) + "px";
            that.navigateHere();
          });
        },
        switched: function(color) {
          if (color !== "red" && color !== "blue" && color !== "green") {
            return;
          }
          var wallsToUnPress = this.querySelectorAll(".col.wall");
          for (var i = 0; i < wallsToUnPress.length; i++) {
            wallsToUnPress[i].classList.remove("pressed");
          }
          var wallsToPress = this.querySelectorAll("." + color + ".col.wall");
          for (var i = 0; i < wallsToPress.length; i++) {
            wallsToPress[i].classList.add("pressed");
          }
        },
        generateBoard: function() {
          var that = this;
          function paintBlock(block) {
            block.classList.remove("redswitch");
            block.classList.remove("blueswitch");
            block.classList.remove("greenswitch");
            block.classList.remove("red");
            block.classList.remove("blue");
            block.classList.remove("green");
            block.classList.remove("wall");
            if (that.palette !== "clear") {
              if ("red blue green".contains(that.palette)) {
                block.classList.add("wall");
              }
              block.classList.add(that.palette);
            }
            var selectedPalette = that.shadowRoot.querySelector(".palette-selected");
            var backgroundImage = selectedPalette.style.backgroundImage;
            block.style.backgroundImage = backgroundImage;
          }
          function onBlockMousedown(e) {
            if (e.button !== 0 || !that.palette || !that.classList.contains("selected")) {
              return;
            }
            paintBlock(this);
          }
          function onBlockOver(e) {
            if (e.buttons !== 1 || !that.palette || !that.classList.contains("selected")) {
              return;
            }
            paintBlock(this);
          }
          /*function paintPixel(block, row, col) {
            block.style.backgroundColor = that.selectedColor;

            that.ctx.fillStyle = that.selectedColor;
            var row = row || block.parentNode.getAttribute("data-tile-editor-row");
            var col = col || block.getAttribute("data-tile-editor-col");
            that.ctx.fillRect(col*2,row*2,2,2);
          }*/
          /*function onPixelMousedown(e) {
            if (e.button !== 0) {
              return;
            }
            if (that.brush === "fill") {
              var row = parseInt(this.parentNode.getAttribute("data-tile-editor-row"), 10);
              var col = parseInt(this.getAttribute("data-tile-editor-col"), 10);
              var originalColor = this.style.backgroundColor;

              if (originalColor !== that.selectedColor) {
                onPixelDblclick(this, row, col, originalColor);
              }
              return;
            }
            paintPixel(this);
          }*/
          /*function onPixelMouseover(e) {
            if (e.buttons !== 1 || that.brush === "fill") {
              return;
            }
            paintPixel(this);
          }*/
          /*function onPixelDblclick(block, row, col, originalColor) {
            paintPixel(block, row, col);
            if (row > 0) {
              var targetRow = that.shadowRoot.querySelector('*[data-tile-editor-row="'+ (row-1) + '"]');
              var targetCol = targetRow.querySelector('*[data-tile-editor-col="'+ (col) + '"]');
              if (targetCol.style.backgroundColor === originalColor) {
                onPixelDblclick(targetCol, row-1, col, originalColor);
              }
            }
            if (row < 15) {
              var targetRow = that.shadowRoot.querySelector('*[data-tile-editor-row="'+ (row+1) + '"]');
              var targetCol = targetRow.querySelector('*[data-tile-editor-col="'+ (col) + '"]');
              if (targetCol.style.backgroundColor === originalColor) {
                onPixelDblclick(targetCol, row+1, col, originalColor);
              }
            }
            if (col > 0) {
              var targetRow = that.shadowRoot.querySelector('*[data-tile-editor-row="'+ (row) + '"]');
              var targetCol = targetRow.querySelector('*[data-tile-editor-col="'+ (col-1) + '"]');
              if (targetCol.style.backgroundColor === originalColor) {
                onPixelDblclick(targetCol, row, col-1, originalColor);
              }
            }
            if (col < 15) {
              var targetRow = that.shadowRoot.querySelector('*[data-tile-editor-row="'+ (row) + '"]');
              var targetCol = targetRow.querySelector('*[data-tile-editor-col="'+ (col+1) + '"]');
              if (targetCol.style.backgroundColor === originalColor) {
                onPixelDblclick(targetCol, row, col+1, originalColor);
              }
            }
          }*/
          var board = this.querySelector(".board");
          if (board) {
            for (var r = 0; r < this.rows; r++) {
              var row = this.querySelector('*[data-row="'+ r + '"]');
              for (var c = 0; c < this.cols; c++) {
                var col = row.querySelector('*[data-col="'+ c + '"]');
                col.addEventListener("mousedown", onBlockMousedown);
                col.addEventListener("mouseover", onBlockOver);
                col.classList.remove("pressed");
              }
            }
          } else {
            board = document.createElement("div");
            board.classList.add("board");
            for (var r = 0; r < this.rows; r++) {
              var row = document.createElement("div");
              row.classList.add("row");
              row.setAttribute("data-row", r);
              if (r === 0) {
                row.classList.add("topside");
              } else if (r === 8) {
                row.classList.add("bottomside");
              }
              for (var c = 0; c < this.cols; c++) {
                var col = document.createElement("span");
                col.classList.add("col");
                if (c === 0) {
                  col.classList.add("leftside");
                } else if (c === 8) {
                  col.classList.add("rightside");
                }
                col.style = this.clear;
                col.setAttribute("data-col", c);
                col.addEventListener("mousedown", onBlockMousedown);
                col.addEventListener("mouseover", onBlockOver);
                col.style.backgroundImage = "url('" + this.groundsprite + "')";
                row.appendChild(col);
              }
              board.appendChild(row);
            }
            this.appendChild(board);
          }
// tile varients
// make tiles cross brick able. import export using collections?
// need switch "animation"
// allow common color palette for each brick
// copy tile
// put this nonsense on github yeah? YEAH!
          /*var tileEditorCanvas = this.shadowRoot.querySelector(".tile-editor-canvas");
          for (var r = 0; r < 16; r++) {
            var row = document.createElement("div");
            row.classList.add("tile-editor-row");
            row.setAttribute("data-tile-editor-row", r);
            for (var c = 0; c < 16; c++) {
              var col = document.createElement("span");
              col.setAttribute("data-tile-editor-col", c);
              col.classList.add("tile-editor-pixel");
              col.addEventListener("mouseover", onPixelMouseover);
              col.addEventListener("mousedown", onPixelMousedown);
              row.appendChild(col);
            }
            tileEditorCanvas.appendChild(row);
          }*/
        }
      });
    </script>
</polymer-element>
