<polymer-element name="ceci-chef-adventure" extends="ceci-element"
  attributes="clear wall red blue green blueswitch greenswitch redswitch wallsprite groundsprite blueblocksprite greenblocksprite redblocksprite playersprite"
  groundsprite="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAhUlEQVRYhe3XwQ2AIAwF0JowL2ENZiCM5ghsgNa7CQG02C96+Oc+4KcJtO4La4Y+A7CB2AYCBrho2EXzOAQHUErKnlP2Ylfe3QE1wNXBvRBcwGjY+wDSg/EB0oupdAA8QOsCkYLgAaSepLW0+IC7ZaxB8AGjMzFgq2R+wCn4/wKt/AB1wAEpUF7eamflHQAAAABJRU5ErkJggg=="
  wallsprite="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAk0lEQVRYhWOom8vzv24uz//de1aQhGH6KNXPMOAOaMhy/t+Q5fx/ydRSkjDMIEr1jzpg5Dlg9+5lEDxiHTDgUTDqAKIdUJ/l9L8+y2kEOABWKcAMIhajV0bk6h88DhhtD5CaiA4dXPP/0ME1BBMhrOjFpX/4O4CQ/uHnAEIF2PB3wIBHwagDRh1AsgMGTXU8UA4AANEaiS8F8jfjAAAAAElFTkSuQmCC"
  redblocksprite="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAiUlEQVRYhWM40SPwfyAxw4A7INeK6f9A4MHnAJjAgiBmmuKh4wBqJ7ah5wBq4W21LP+31bIMQQfAxHEZSAgPHwfUOEHwqANwRQk6Rjdn1AGjDhh+DiCEqV4UDxoHEAp6XHjoOOBQK8v/Q62YCsnFQ9cBsCCnFkaPksHvAGo3RgnhweMAeuNB4wAA8HXyXulpvwIAAAAASUVORK5CYII="
  blueblocksprite="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAeUlEQVRYhWNY3PLo/0BihgF3gKdNzX9Pm5r/bVnnaIJhFuESH7oOgOkjV//QdQCuICXXnFEHDD0HoBuAy0FDzwG0LpBGHTD4HUAvi0cdMHQdQK3ESnaTbMAcgF7UjlwHkFvpUJwIB9wBtMLD1wHEmjf4HDBQeMAdAACZk61XAUosyAAAAABJRU5ErkJggg=="
  greenblocksprite="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAbElEQVRYhWPwmV3632d26f+JV6cPCGYYcAcYlAT9NygJ+g9zCL3wqAOGvgNgBgx/B8DkycVD3wHkFjDDzwHEJtZRB4w6YNQBw98BhPDwdQAujEvd8HEArfCoA4aOA4htYg19B9Abwxwy4A4AAEMumjQBe3MiAAAAAElFTkSuQmCC" playersprite="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAoUlEQVRYhe3TsQ2AIBBAUXawI1ZOYMIYVi7jLI7gGtc7BCGhtGGBs6LwkGAMipgrfgOX4zUI5xyWTDCAAcUBWmvMGQAcSs2XB1hrMWcUkJpnQD0Auvhq9QG2dXm0egAwTwjzFCxoZYOtbII5eh7bw4B6AFeLQV/7BdkBxphD46BO8w/76L3qO1R9F+zzfRdAITFAKgb8B+AX3Y0BsYc/A9gBIK4UDHNyGoUAAAAASUVORK5CYII=">
  <ceci-definition>
    {
      "name": "Chef Adventure",
      "thumbnail": "./thumbnail.png",
      "description": "",
      "attributes": {
        "playersprite": {
          "description": "",
          "label": "Player Sprite",
          "editable": "sprite",
          "scale": 2
        },
        "groundsprite": {
          "description": "",
          "label": "Ground Sprite",
          "editable": "sprite",
          "scale": 2
        },
        "wallsprite": {
          "description": "",
          "label": "Wall Sprite",
          "editable": "sprite",
          "scale": 2
        },
        "blueblocksprite": {
          "description": "",
          "label": "Blue Block Sprite",
          "editable": "sprite",
          "scale": 2
        },
        "greenblocksprite": {
          "description": "",
          "label": "Green Block Sprite",
          "editable": "sprite",
          "scale": 2
        },
        "redblocksprite": {
          "description": "",
          "label": "Red Block Sprite",
          "editable": "sprite",
          "scale": 2
        }
      },
      "broadcasts": {
        "switched": {
          "label": "",
          "description": ""
        },
        "exitleft": {
          "description": "",
          "label": ""
        },
        "exitright": {
          "description": "",
          "label": ""
        },
        "exittop": {
          "description": "",
          "label": ""
        },
        "exitbottom": {
          "description": "",
          "label": ""
        }
      },
      "listeners": {
        "switched": {
          "description": "",
          "label": ""
        },
        "buttonpress": {
          "description": "",
          "label": ""
        },
        "buttonrelease": {
          "description": "",
          "label": ""
        },
        "enterleft": {
          "description": "",
          "label": ""
        },
        "enterright": {
          "description": "",
          "label": ""
        },
        "entertop": {
          "description": "",
          "label": ""
        },
        "enterbottom": {
          "description": "",
          "label": ""
        }
      }
    }
  </ceci-definition>
  <template>
    <link rel="stylesheet" href="component.css"></link>
    <div class="tile-palette-container">
      <div class="tile-palette">
        <div class="palette-blocks">
          <span class="palette-block palette-clear-block palette-selected" data-palette="clear" on-click="{{onTileClicked}}" style="{{clear}}"></span>
          <span class="palette-block palette-wall-block" data-palette="wall" on-click="{{onTileClicked}}" style="{{wall}}"></span>
          <span class="palette-block palette-wall-block palette-blue-block" data-palette="blue" on-click="{{onTileClicked}}" style="{{blue}}"></span>
          <span class="palette-block palette-wall-block palette-green-block" data-palette="green" on-click="{{onTileClicked}}" style="{{green}}"></span>
          <span class="palette-block palette-wall-block palette-red-block" data-palette="red" on-click="{{onTileClicked}}" style="{{red}}"></span>
          <span class="palette-block palette-blueswitch" data-palette="blueswitch" on-click="{{onTileClicked}}" style="{{blueswitch}}"></span>
          <span class="palette-block palette-greenswitch" data-palette="greenswitch" on-click="{{onTileClicked}}" style="{{greenswitch}}"></span>
          <span class="palette-block palette-redswitch" data-palette="redswitch" on-click="{{onTileClicked}}" style="{{redswitch}}"></span>
        </div>
      </div>
    </div>
    <shadow></shadow>
  </template>
  <tags>game</tags>
    <script>
      Polymer("ceci-chef-adventure", {
        ready: function() {
          this.super();
          this.rows = 9;
          this.cols = 9;
          this.generateBoard();
          this.palette = "clear";
		},
        groundspriteChanged: function() {
          var color = "url('" + this.groundsprite + "')";
          var palette = this.shadowRoot.querySelector(".palette-clear-block");
          this[palette.getAttribute("data-palette")] = "background-image: " + color + ";";
        },
        playerspriteChanged: function() {
          var player = this.shadowRoot.querySelector(".player");
          if (!player) {
            return;
          }
          player.style.backgroundImage = "url('" + this.playersprite + "')";
        },
        wallspriteChanged: function() {
          var color = "url('" + this.wallsprite + "')";
          var palette = this.shadowRoot.querySelector(".palette-wall-block");
          this[palette.getAttribute("data-palette")] = "background-image: " + color + ";";
        },
        blueblockspriteChanged: function() {
          var color = "url('" + this.blueblocksprite + "')";
          var palette = this.shadowRoot.querySelector(".palette-blue-block");
          this[palette.getAttribute("data-palette")] = "background-image: " + color + ";";
        },
        greenblockspriteChanged: function() {
          var color = "url('" + this.greenblocksprite + "')";
          var palette = this.shadowRoot.querySelector(".palette-green-block");
          this[palette.getAttribute("data-palette")] = "background-image: " + color + ";";
        },
        redblockspriteChanged: function() {
          var color = "url('" + this.redblocksprite + "')";
          var palette = this.shadowRoot.querySelector(".palette-red-block");
          this[palette.getAttribute("data-palette")] = "background-image: " + color + ";";
        },
        onTileClicked: function(event, detail, sender) {
          this.shadowRoot.querySelector(".palette-selected").classList.remove("palette-selected");
          sender.classList.add("palette-selected");
          this.palette = sender.getAttribute("data-palette");
        },
        buttonpress: function(direction) {
          var player = this.shadowRoot.querySelector(".player");
          if (!player) {
            return;
          }
          var playerRow = player.offsetTop / 32;
          var playerCol = player.offsetLeft / 32;
          var targetCol;

          if (direction === "up") {
            if (playerRow === 0) {
              this.broadcast("exittop", playerCol);
              player.parentNode.removeChild(player);
              return;
            }
            playerRow--;
            var targetRow = this.querySelector('*[data-row="'+ playerRow + '"]');
            targetCol = targetRow.querySelector('*[data-col="'+ playerCol + '"]');
          } else if (direction === "down") {
            if (playerRow === 8) {
              this.broadcast("exitbottom", playerCol);
              player.parentNode.removeChild(player);
              return;
            }
            playerRow++;
            var targetRow = this.querySelector('*[data-row="'+ playerRow + '"]');
            targetCol = targetRow.querySelector('*[data-col="'+ playerCol + '"]');
          } else if (direction === "left") {
            if (playerCol === 0) {
              this.broadcast("exitleft", playerRow);
              player.parentNode.removeChild(player);
              return;
            }
            playerCol--;
            var targetRow = this.querySelector('*[data-row="'+ playerRow + '"]');
            targetCol = targetRow.querySelector('*[data-col="'+ playerCol + '"]');
          } else if (direction === "right") {
            if (playerCol === 8) {
              this.broadcast("exitright", playerRow);
              player.parentNode.removeChild(player);
              return;
            }
            playerCol++;
            var targetRow = this.querySelector('*[data-row="'+ playerRow + '"]');
            targetCol = targetRow.querySelector('*[data-col="'+ playerCol + '"]');
          }
          if (targetCol) {
            if (!targetCol.classList.contains("wall") || targetCol.classList.contains("pressed")) {
              player.style.top = (playerRow * 32) + "px";
              player.style.left = (playerCol * 32) + "px";
              if (targetCol.classList.contains("redswitch")) {
                this.broadcast("switched", "red");
                this.switched("red");
              } else if (targetCol.classList.contains("blueswitch")) {
                this.broadcast("switched", "blue");
                this.switched("blue");
              } else if (targetCol.classList.contains("greenswitch")) {
                this.broadcast("switched", "green");
                this.switched("green");
              } else if (targetCol.classList.contains("wall")) {
                return;
              }
            }
          }
        },
        navigateHere: function() {
          var parent = this.parentNode;
          while (parent.nodeName !== "CECI-CARD") {
            parent = parent.parentNode;
          }
          if (parent) {
            parent.show();
          }
        },
        enterleft: function(row) {
          this.enter(row, 0);
        },
        enterright: function(row) {
          this.enter(row, 8);
        },
        entertop: function(col) {
          this.enter(0, col);
        },
        enterbottom: function(col) {
          this.enter(8, col);
        },
        enter: function(row, col) {
          var that = this;
          setTimeout( function() {
            var player = that.shadowRoot.querySelector(".player");
            if (!player) {
              player = document.createElement("div");
              player.classList.add("player");
              that.shadowRoot.appendChild(player);
            }
            player.style.backgroundImage = "url('" + that.playersprite + "')";
            player.style.top = (row * 32) + "px";
            player.style.left = (col * 32) + "px";
            that.navigateHere();
          });
        },
        switched: function(color) {
          if (color !== "red" && color !== "blue" && color !== "green") {
            return;
          }
          var wallsToUnPress = this.querySelectorAll(".col.wall");
          for (var i = 0; i < wallsToUnPress.length; i++) {
            wallsToUnPress[i].classList.remove("pressed");
          }
          var wallsToPress = this.querySelectorAll("." + color + ".col.wall");
          for (var i = 0; i < wallsToPress.length; i++) {
            wallsToPress[i].classList.add("pressed");
          }
        },
        generateBoard: function() {
          var that = this;
          function paintBlock(block) {
            block.classList.remove("redswitch");
            block.classList.remove("blueswitch");
            block.classList.remove("greenswitch");
            block.classList.remove("red");
            block.classList.remove("blue");
            block.classList.remove("green");
            block.classList.remove("wall");
            if (that.palette !== "clear") {
              if ("red blue green".indexOf(that.palette) !== -1) {
                block.classList.add("wall");
              }
              block.classList.add(that.palette);
            }
            var selectedPalette = that.shadowRoot.querySelector(".palette-selected");
            var backgroundImage = selectedPalette.style.backgroundImage;
            block.style.backgroundImage = backgroundImage;
          }
		  var isMouseDown = false;
		  function onMouseUp() {
		    isMouseDown = false;
			window.removeEventListener("mouseup", onMouseUp);
		  }
          function onBlockMousedown(e) {
            if (!that.palette || !that.classList.contains("selected")) {
              return;
            }
			e.preventDefault();
			window.addEventListener("mouseup", onMouseUp);
			isMouseDown = true;
            paintBlock(this);
          }
          function onBlockOver() {
            if (!isMouseDown || !that.palette || !that.classList.contains("selected")) {
              return;
            }
            paintBlock(this);
          }
          var board = this.querySelector(".board");
          if (board) {
            for (var r = 0; r < this.rows; r++) {
              var row = board.querySelector('*[data-row="'+ r + '"]');
              for (var c = 0; c < this.cols; c++) {
                var col = row.querySelector('*[data-col="'+ c + '"]');
                col.addEventListener("mousedown", onBlockMousedown);
                col.addEventListener("mouseover", onBlockOver);
                col.classList.remove("pressed");
              }
            }
          } else {
            board = document.createElement("div");
            board.classList.add("board");
            board.style.fontSize = 0;
			board.style.margin = "auto";
			board.style.width = "288px";
			board.style.position = "relative";

            for (var r = 0; r < this.rows; r++) {
              var row = document.createElement("div");
			  row.style.margin = "auto";
              row.classList.add("row");
              row.setAttribute("data-row", r);
              if (r === 0) {
                row.classList.add("topside");
              } else if (r === 8) {
                row.classList.add("bottomside");
              }
              for (var c = 0; c < this.cols; c++) {
                var col = document.createElement("span");
				col.style.height = "32px";
				col.style.width = "32px";
				col.style.display = "inline-block";
				col.style.padding = 0;
				col.style.cursor = "pointer";
                col.classList.add("col");
                if (c === 0) {
                  col.classList.add("leftside");
                } else if (c === 8) {
                  col.classList.add("rightside");
                }
                col.style = this.clear;
                col.setAttribute("data-col", c);
                col.addEventListener("mousedown", onBlockMousedown);
                col.addEventListener("mouseover", onBlockOver);
                col.style.backgroundImage = "url('" + this.groundsprite + "')";
                row.appendChild(col);
              }
              board.appendChild(row);
            }
            this.appendChild(board);
          }
        }
      });
    </script>
</polymer-element>
