<polymer-element name="ceci-space-adventure" extends="ceci-element" attributes="playerMoveSpeed playerProjectileSpeed enemyProjectileSpeed playerProjectileRate enemyProjectileRate" playerProjectileSpeed="1" enemyProjectileSpeed="1" playerMoveSpeed="1" playerProjectileRate="1" enemyProjectileRate="1">
  <ceci-definition>
    {
      "name": "Space Adventure",
      "thumbnail": "",
      "description": "",
      "broadcasts": {
        "playerHit": {
          "label": "",
          "description": "A player was hit by an enemy projectile.",
          "labe": "Player Hit"
        },
        "enemyHit": {
          "label": "",
          "description": "An enemy was hit by a player projectile.",
          "labe": "Enemy Hit"
        }
      },
      "listeners": {
        "playerActionStart": {
          "description": "Move player right or left",
          "label": "Player Action Start"
        },
        "playerActionStop": {
          "description": "Stop player movement.",
          "label": "Player Action Stop"
        },
        "createEnemy": {
          "description": "Adds an enemy ship to the game.",
          "label": "Create Enemy"
        },
        "createPlayer": {
          "description": "Adds a player ship to the game.",
          "label": "Create Player"
        },
        "killPlayer": {
          "description": "Removes a player ship from the game.",
          "label": "Kill Player"
        },
        "killEnemy": {
          "description": "Removes an enemy ship from the game.",
          "label": "Kill Enemy"
        }
      },
      "attributes": {
        "playerMoveSpeed": {
          "description": "",
          "label": "Player Move Speed",
          "editable": "number",
          "step" : ".1"
        },
        "playerProjectileSpeed": {
          "description": "",
          "label": "Player Projectile Speed",
          "editable": "number",
          "step" : ".1"
        },
        "enemyProjectileSpeed": {
          "description": "",
          "label": "Enemy Projectile Speed",
          "editable": "number",
          "step" : ".1"
        },
        "playerProjectileRate": {
          "description": "",
          "label": "Player Projectile Rate",
          "editable": "number",
          "step" : ".1"
        },
        "enemyProjectileRate": {
          "description": "",
          "label": "Enemy Projectile Rate",
          "editable": "number",
          "step" : ".1"
        }
      }
    }
  </ceci-definition>
  <template>
    <link rel="stylesheet" href="component.css"></link>
    <div class="game-board"></div>
    <shadow></shadow>
  </template>
    <script>
      Polymer("ceci-space-adventure", {
        enemies: [],
        playerAlive: false,
        ready: function() {
          this.super();
          window.requestAnimationFrame = window.requestAnimationFrame || window.mozRequestAnimationFrame ||
                                         window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
          this.playerPosition = 0;
          this.playerMoving = false;
        },
        playerAnimateProjectile: function() {
          var playerProjectile = document.createElement("div");
          var that = this;
          var hitSomething = false;
          playerProjectile.style.backgroundImage = "url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAARElEQVQ4jWNgYGD4TyEeNWCYGPD/PyrGpRiHOpgADBAyAEMd1QygxAtLUTFOA7CrY/j/Hw3jNAC7OlRJQtGGRR1lBgAABrNj2GoxiV8AAAAASUVORK5CYII=)";
          playerProjectile.style.left = that.playerPosition + "px";
          playerProjectile.style.bottom = "16px";
          playerProjectile.classList.add("player-projectile");
          this.shadowRoot.querySelector(".game-board").appendChild(playerProjectile);
          function animateProjectile() {
            if (playerProjectile.offsetTop > 0) {
              playerProjectile.style.top = ( playerProjectile.offsetTop - that.playerProjectileSpeed ) + "px";
              // Need these to update on a timer, and not based on the animation frame speed.
              window.requestAnimationFrame(animateProjectile);
              if (!hitSomething && playerProjectile.offsetTop >= 32) {
                for (var i = 0; i < that.enemies.length; i++) {
                  if (that.enemies[i].alive && (playerProjectile.offsetLeft + 16) >= that.enemies[i].left && playerProjectile.offsetLeft <= (that.enemies[i].left + 16)) {
                    that.broadcast("enemyHit", i.toString());
                    hitSomething = true;
                    break;
                  }
                }
              }
            } else {
              that.shadowRoot.querySelector(".game-board").removeChild(playerProjectile);
            }
          }
          animateProjectile();
        },
        playerFire: function() {
          this.playerFiring = true;
          var timeStamp = 0;
          var that = this;
          function fireProjectile() {
            if (that.playerFiring) {
              var diff = Date.now()/1000 - timeStamp;
              if (timstamp = 0 || diff >= that.playerProjectileRate-0) {
                that.playerAnimateProjectile();
                timeStamp = Date.now()/1000;
              }

              window.requestAnimationFrame(fireProjectile);
            }
          }
          fireProjectile();
        },
        createPlayer: function() {
          var player = document.createElement("div");
          player.classList.add("player");
          this.shadowRoot.querySelector(".game-board").appendChild(player);
          this.playerAlive = true;
        },
        playerActionStart: function(dir) {
          if (!this.playerAlive) {
            return;
          }
          var player = this.shadowRoot.querySelector(".player");
          var that = this;
          if (dir === "a" || dir === "b") {
            this.playerFire();
            return;
          }
          if (dir === "left") {
            this.playerMovingLeft = true;
            this.playerMovingRight = false;
            function moveLeft() {
              if (that.playerMovingLeft && that.playerPosition>0) {
                that.playerPosition-=(that.playerMoveSpeed-0);
                player.style.left = that.playerPosition + "px";
                // Need these to update on a timer, and not based on the animation frame speed.
                window.requestAnimationFrame(moveLeft);
              }
            }
            moveLeft();
          } else {
            this.playerMovingLeft = false;
            this.playerMovingRight = true;
            function moveRight() {
              if (that.playerMovingRight && that.playerPosition<295) {
                that.playerPosition+=(that.playerMoveSpeed-0);
                player.style.left = that.playerPosition + "px";
                // Need these to update on a timer, and not based on the animation frame speed.
                window.requestAnimationFrame(moveRight);
              }
            }
            moveRight();
          }
        },
        playerActionStop: function() {
          this.playerMovingLeft = false;
          this.playerMovingRight = false;
          this.playerFiring = false;
        },
        killPlayer: function() {
          this.playerAlive = false;
          var player = this.shadowRoot.querySelector(".player");
          this.playerPosition = 0;
          if (player) {
            this.shadowRoot.querySelector(".game-board").removeChild(player);
          }
        },
        killEnemy: function(value) {
          var enemy = this.enemies[value];
console.log(enemy);
          if (!enemy) {
            return;
          }
          enemy.alive = false;
          
          this.shadowRoot.querySelector(".game-board").removeChild(enemy.element);
          this.enemies.splice(value, 1);
        },
        createEnemy: function() {
          var that = this;
          var enemyElement = document.createElement("div");
          var enemy = {
            element: enemyElement,
            alive: true,
            left: 0
          };
          var direction = "right";
          enemyElement.style.backgroundImage = "url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAb0lEQVQ4jc2TwQ3AMAgD2X+X7tMJuob7aSJw7LZSHsnDnwAng5WICExqB8BxXl25iEf5TfRqAEi/Aa0AVLm+cGTlwKyq7THA3WlIoQNoBTOsY+ThfIdPQLHfhtMar4CSAANQewaAojvrNoV1f2FGN8g2pF6X9BjjAAAAAElFTkSuQmCC)";
          enemyElement.style.left = "0";
          enemyElement.style.top = "16px";
          enemyElement.classList.add("enemy");
          this.shadowRoot.querySelector(".game-board").appendChild(enemyElement);
          this.enemies.push(enemy);
          var timeStamp = 0;
          function animateEnemyProjectile() {
            var enemyProjectile = document.createElement("div");
            enemyProjectile.style.backgroundImage = "url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAARElEQVQ4jWNgYGD4TyEeNWCYGPD/PyrGpRiHOpgADBAyAEMd1QygxAtLUTFOA7CrY/j/Hw3jNAC7OlRJQtGGRR1lBgAABrNj2GoxiV8AAAAASUVORK5CYII=)";
            enemyProjectile.style.left = enemy.left + "px";
            enemyProjectile.style.top = "16px";
            enemyProjectile.classList.add("player-projectile");
            that.shadowRoot.querySelector(".game-board").appendChild(enemyProjectile);
            function animateProjectile() {
              // Need these to update on a timer, and not based on the animation frame speed.
              if (enemyProjectile.offsetTop < 295) {
                enemyProjectile.style.top = ( enemyProjectile.offsetTop + (that.enemyProjectileSpeed-0) ) + "px";
                window.requestAnimationFrame(animateProjectile);
                if (that.playerAlive && enemyProjectile.offsetTop >= 263) {
                  if ((enemyProjectile.offsetLeft + 16) >= that.playerPosition && enemyProjectile.offsetLeft <= (that.playerPosition + 16) ) {
                    that.broadcast("playerHit");
                  }
                }
              } else {
                that.shadowRoot.querySelector(".game-board").removeChild(enemyProjectile);
              }
            }
            animateProjectile();
          }
          function fireProjectile() {
            if (enemy.alive) {
              var diff = Date.now()/1000 - timeStamp;
              if (timstamp = 0 || diff >= that.enemyProjectileRate-0) {
                animateEnemyProjectile();
                timeStamp = Date.now()/1000;
              }

              window.requestAnimationFrame(fireProjectile);
            }
          }
          function enemyAI() {
            if (enemy.alive) {
              if (direction === "right") {
                if (enemy.left + 1 === 295) {
                  direction = "left";
                }
                enemy.left++;
                enemyElement.style.left = enemy.left + "px";
              } else {
                if (enemy.left - 1 === 0) {
                  direction = "right";
                }
                enemy.left--;
                enemyElement.style.left = enemy.left + "px";
              }
              // Need these to update on a timer, and not based on the animation frame speed.
              window.requestAnimationFrame(enemyAI);
            }
          }
          enemyAI();
          fireProjectile();
        }
      });
    </script>
</polymer-element>
